*, html,body{
    margin :0;
    padding: 0;
    scroll-behavior:smooth;
}

.main{
    background-image: url(./assets/images/title.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.nav-cont{
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
}

.nav-cont li{
    list-style: none;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.nav-cont a{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 2em;
    font-family: montserrat;
    color: #472614; 
    font-weight: bold;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.nav-cont a:hover{
    color:#A67B5B;
    transition: 0.3s all ease-in-out;
    font-size: 40px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.menu-cont{
    background-image: url(./assets/images/menu-bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu{
    background-color: rgba(204, 199, 196, 0.9);
    border-radius:150px;
    display: flex;
    flex-wrap: nowrap;
}
.card img{
    width: 300px;
    height: 300px;
}

.card{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.cookie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.desc{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.desc-name{
    padding: 1px;
    font-family: montserrat;
    font-size: 50px;
    color: #351b0d;
}

.text{
    font-family: montserrat;
    font-size: 20px;
    font-weight: 10px;
    color: #351b0d;
}

footer{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

@media screen and (max-width:767px)
{
    .desc-name{
        font-size: 30px;
    }

    .desc{
        width: 70%;
    }

    .menu-cont{
        height: 200vh;
    }
    
    .card-img{
        width: 200px;
        height: 200px;
    }

    .navbar{
        justify-content: center;
    }

    .nav-cont a{
        font-size: 19px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #menu{
        display: flex;
        flex-wrap: wrap;
    }
}